form {
    display: block;
    margin-top: 0em;
  }
  body {
    text-align: center;
    margin: 0;
  }
  
  header {
   background: black;
   color: white;
   height: 600px;
   justify-content: center;
   align-items: center;
   }
   img {
       border: thick ridge red;
       height: 500px;
   }
   h2 {
       margin: 20;
   }
 